volumes:
  nuxtshop_production_db:

services:
  nuxtshop:
    depends_on:
      - db
    image: docker.io/wuttinanhi/nuxtshop:latest
    build:
      context: .
      dockerfile: ./Dockerfile
    ports:
      - "3000:3000"
    environment:
      DB_TYPE: postgres
      DB_HOST: db
      DB_PORT: 5432
      DB_USER: mynuxtshop
      DB_PASS: mynuxtshop
      DB_NAME: mynuxtshop
      MOCK_DATA: true
      JWT: secret
      STRIPE_CURRENCY: thb
      STRIPE_SECRET_KEY: UPDATE_ME
      PAY_SUCCESS_URL: http://localhost:3000/pays/success
      PAY_CANCEL_URL: http://localhost:3000/pays/cancel
    cpu_shares: 512
    deploy:
      resources:
        # Maximum
        limits:
          memory: 512M
          cpus: "0.5"
        # Minimum
        reservations:
          memory: 256M
          cpus: "0.5"

  db:
    image: postgres:16.3-bookworm
    restart: always
    # set shared memory limit when using docker-compose
    shm_size: 128mb
    # or set shared memory limit when deploy via swarm stack
    #volumes:
    #  - type: tmpfs
    #    target: /dev/shm
    #    tmpfs:
    #      size: 134217728 # 128*2^20 bytes = 128Mb
    environment:
      POSTGRES_PASSWORD: mynuxtshop
      POSTGRES_USER: mynuxtshop
      POSTGRES_DB: mynuxtshop
    volumes:
      - nuxtshop_production_db:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    cpu_shares: 1024
    deploy:
      resources:
        # Maximum
        limits:
          memory: 1024M
          cpus: "1.0"
        # Minimum
        reservations:
          memory: 512M
          cpus: "0.5"

  adminer:
    depends_on:
      - db
    image: adminer
    restart: always
    ports:
      - "8080:8080"
    cpu_shares: 256
    deploy:
      resources:
        # Maximum
        limits:
          memory: 256M
          cpus: "0.5"
        # Minimum
        reservations:
          memory: 128M
          cpus: "0.5"
